<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express APIs</title>
</head>
<body>
    <h1>Star Wars</h1>

    <% episodes.forEach(e => { %>
        <div>
            <h2><%= e.Title %> (<%= e.Year%>)</h2>
            <img src="<%=e.Poster%>" alt="poster">
        </div>

    <% })%>

</body>
</html>
